[defaults]
inventory             = ./inventory
roles_path            = ./roles
collections_path      = ./collections
vars_plugins_enabled  = host_group_vars
stdout_callback       = ansible.builtin.default
result_format         = yaml
gathering             = smart
fact_caching          = memory
retry_files_enabled   = false
interpreter_python    = auto_silent
forks                 = 10

[ssh_connection]
pipelining    = true
ssh_args      = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
control_path  = /tmp/ansible-ssh-%%h-%%p-%%r
